@font-face {
   font-family: 'Quicksand-Medium';
   font-display: swap;
   src: url('file:///Users/oskarpersson/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-08-21_082058/fonts/Quicksand-Medium/font.ttf');
}
